 
body {
 width: 1000px;
 margin: 0 auto;
 background-color: #78B0BF;
}

 header {
 	background-image: url("../images/hello.jpg");
 	padding: 100px;
 }

.webtitle {
	float: left;
	color: white;
	font-size: 30px;

}
 nav {
 	float: right;
 }

 ul li {
 	display: inline;
 }

 /* Section */

 hr {
 	width: 50px;
 }

 .two {
 	width: 120px;
 }

 section {
 	background-color: #283B40;
 	color: white;
 	text-align: center;
 }

 /* Gallery */

 .gallery {
 	margin: 0px;
 	padding: 20px
 }

 img {
 	opacity: 1.0;
 }

 img:hover {
 	opacity: 0.5;
 }

 .wrapper .text {
 	position: relative;
 	visibility: hidden;
 }

 .wrapper:hover .text{
 	visibility: visible;
 	top: 1;
 }