 
body {
 width: 1000px;
 margin: 0 auto;
 background-color: #78B0BF;
}

 header {
 	background-image: url("hello.jpg");
 	padding: 100px;
 }

.webtitle {
	float: left;
	color: white;
	font-size: 30px;

}
 nav {
 	float: right;
 }

 ul li {
 	display: inline;
 }